body {
  font-family: "Tahoma", "Trebuchet MS";
  font-size: 1.1em;
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}
.main {
  background-color: white;
}
p {
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
}
ol {
  border-radius: 8px;
}
ul {
  border-radius: 8px;
}
blockquote {
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  background-color: #e3edf5;
}
figure {
  display: block;
  text-align: center;
}
figure img {
  display:      block;
  margin-left:  auto;
  margin-right: auto;
}
figcaption {
  font-style: italic;
  background-color: #7fff0040;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.command-name, .block-name {
/*   based on Mozilla Developer Network CSS for code */
    background-color: rgba(220,220,220,.5);
    border-radius: 2px;
    box-decoration-break: clone;
    font-family: consolas,"Liberation Mono",courier,monospace;
    padding: 0 2px;
    word-wrap: break-word;
}
.iframe-container {
  border: 1px solid rgb(244, 139, 139);
  overflow: hidden;
  margin: 15px auto;
  width: 480px;
  height: 70px;
}
.iframe-clipped {
  border: 0px none;
  margin-left: -10px;
  height: 800px;
  margin-top: 30px;
  width: 1300px;
  
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.image-of-iframe {
  max-width: 950px;
  cursor: pointer;
}
.freeze-video, .training-button, .testing-button, .return-to-snap-button, .save-training-button,
 .save-validation-button, .together_button, .support-window-button, .generic-button {
/* originally copied from jquery-ui many subsequent edits */
margin-top: 10px;
/*  padding: .8em 1em; */
display: inline-block;
position:absolute relative;
line-height: normal;
margin-right: .1em;
cursor: pointer;
vertical-align: middle;
text-align: center;
font-size: 1.1em;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border-radius: 8px;
padding: 10px;
box-shadow: 5px 3px 5px black;
color: navy;
cursor: pointer;
text-decoration: none;
width: fit-content;
background-color: buttonface;
}
.center-contents {
 text-align: center; 
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.button:disabled, button[disabled] {
  color: #a8a881;
  background-color: #ece8e4;
}
.back-to-tutorial-button {
  margin-top: 6px;
  margin-bottom: 6px;
}
.save-training-button, .save-validation-button, .support-window-button {
  display: block;
}
.random-image-button {
  padding-left: 4px;
  cursor: pointer;
}
.prediction-response {
  border: 1px solid rgb(99, 119, 232);
  border-radius: 4px;
  margin: auto;
  /* width:  fit-content; */
}
.x-close-button {
/* 	based upon http://jsfiddle.net/adzFe/14/ */
  cursor: pointer;
  color: white;
  border: 1px solid #AEAEAE;
  border-radius: 20px;
  background: #605F61;
  font-size: 26px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 4px;
  margin-left: 6px;
}
.advanced-topic {
  cursor: pointer;
  color: #316d37;
  font-weight: bold;
  background-color: #fad4c5;
  width: fit-content;
}
.advanced-topic-body {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}
.english {
  font-style: italic;
}
.notranslate {
  padding-left:  .2em;
  padding-right: .2em;
}
.this-is-new {
  color: red;
  font-weight: bold;
}
.flow-row {
  display: inline;
  /* margin: 0 1em 0 1em; */
}
.flow-row-child {
  display: inline-block;
  margin-left: 4px;
}
.guide-body {
  background-color: #f2f6f6;
}
.advanced-information {
  background-color: #d8f4e6;
}
.background-information {
  background-color: #e4ebca;
}
.exercise {
  background-color: #eae2f8;
}
.guide-to-guide {
  background-color: #f8f2e2;
}
.how-it-works {
  background-color: #c8dbd9;
}
.instructions {
  background-color: #ebcacf;
}
.project-ideas {
  background-color: #f8e2ec;
}
.resources {
  background-color: #f2d4f3;
}
.sample-program {
  background-color: #d4d8f3;
}
.societal-impact {
  background-color: #c0f3db;
}
.transparent_iframe {
  overflow:hidden;
  border:none;
}
.grid_container {
  position: relative;
  width: 700px;
  height: 1400px;
}
.grid_element {
  position: absolute;
}
.x-axis-label {
  position: absolute;
}
.y-axis-label {
  position: absolute;
}
.agreement-checkbox {
 font-size: x-large;
 color: darkred;
}
.in-box {
  /* border: solid 1px; */
  /* border-radius: 8px; */
  margin: auto;
  /* text-align: center; */
  /* width: fit-content; */
}
.has-border {
  border: solid 1px;
  border-radius: 8px;
}
.agreement-text, .response-text {
   text-align: left;
   font-size: 1em;
}
.clickable {
  cursor: pointer;
}
.red {
  background-color: #a70606;
  color: white;
}
.red-light {
  background-color: #a70606;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.red-border {
  border-radius: 8px;
  border: #a70606 solid 6px;
  display: inline-block;
  width: fit-content;
}
.amber {
  background-color: #d6b862;
  color: white;
}
.amber-light {
  background-color: #d6b862;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.amber-border {
  border-radius: 8px;
  border: #d6b862 solid 6px;
  display: inline-block;
  width: fit-content;
}
.green {
  background-color: #386838;
  color: white;
}
.green-light {
  background-color: #386838;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.green-border {
  border-radius: 8px;
  border: #386838 solid 6px;
  display: inline-block;
  width: fit-content;  
}
.gray {
  background-color: #787a78;
  color: white;
}
.gray-light {
  background-color: #787a78;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content; 
}
.full-response {
  top: 30%;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: solid 1px;
}
.more-button {
  display:inline-block;
  font-size: .8em;
  margin-top: -16px;
}

/* following based upon https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217 */

#table-of-contents {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}
.table-of-contents-title {
    font-weight: 700;
    text-align: center;
}
#table-of-contents li, #table-of-contents ul, #table-of-contents ul li{
    list-style: outside none none !important;
}