/* Display a warning if in portrait mode */
#landscape-warning-message {
  display: none;
}
@media only screen and (orientation:portrait) {
  #landscape-warning-message { display:block; }
}
@media only screen and (orientation:landscape){
  #landscape-warning-message { display:none; }
}

body {
  font-family: "Tahoma", "Trebuchet MS";
  font-size: 1.1em;
  max-width: 1024px;
  margin: 0 auto;
  float: none;
}
.main {
  background-color: white;
}
p {
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  min: 512;
}
ol {
  border-radius: 8px;
}
ul {
  border-radius: 8px;
}
blockquote {
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  background-color: #e3edf5;
}
figure {
  display: block;
  text-align: center;
}
figure img {
  display:      block;
  margin-left:  auto;
  margin-right: auto;
}
figcaption {
  font-style: italic;
  background-color: #7fff0040;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.scenario-info {
  font-size: 1.3em;
  width: 100%;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.button:disabled, button[disabled] {
  color: #a8a881;
  background-color: #ece8e4;
}

.x-close-button {
/* 	based upon http://jsfiddle.net/adzFe/14/ */cursor: pointer;color: white;border: 1px solid #AEAEAE;border-radius: 100%;background: #605F61;font-size: 80px;font-weight: bold;display: inline-block;line-height: 0px;padding: 10px;padding-top: 30px;padding-bottom: 30px;margin-left: 6px;}
.advanced-topic {
  cursor: pointer;
  color: #316d37;
  font-weight: bold;
  background-color: #fad4c5;
  width: fit-content;
}
.advanced-topic-body {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}
.english {
  font-style: italic;
}
.notranslate {
  padding-left:  .2em;
  padding-right: .2em;
}
.this-is-new {
  color: red;
  font-weight: bold;
}
.flow-row {
  display: inline;
  /* margin: 0 1em 0 1em; */
}
.flow-row-child {
  display: inline-block;
  margin-left: 4px;
}
.guide-body {
  background-color: #f2f6f6;
}
.advanced-information {
  background-color: #d8f4e6;
}
.background-information {
  background-color: #e4ebca;
}
.exercise {
  background-color: #eae2f8;
}
.guide-to-guide {
  background-color: #f8f2e2;
}
.how-it-works {
  background-color: #c8dbd9;
}
.instructions {
  background-color: #ebcacf;
}
.project-ideas {
  background-color: #f8e2ec;
}
.resources {
  background-color: #f2d4f3;
}
.sample-program {
  background-color: #d4d8f3;
}
.societal-impact {
  background-color: #c0f3db;
}
.grid_container {
  position: relative;
  width: 700px;
  height: 1400px;
}
.grid_element {
  position: absolute;
}
.in-box {
  /* border: solid 1px; */
  /* border-radius: 8px; */
  margin: auto;
  /* text-align: center; */
  /* width: fit-content; */
}
.has-border {
  border: solid 1px;
  border-radius: 8px;
}
.clickable {
  cursor: pointer;
}
.red {
  background-color: #a70606;
  color: white;
}
.red-light {
  background-color: #a70606;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.red-border {
  border-radius: 8px;
  border: #a70606 solid 6px;
  display: inline-block;
  width: fit-content;
}
.amber {
  background-color: #d6b862;
  color: white;
}
.amber-light {
  background-color: #d6b862;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.amber-border {
  border-radius: 8px;
  border: #d6b862 solid 6px;
  display: inline-block;
  width: fit-content;
}
.green {
  background-color: #386838;
  color: white;
}
.green-light {
  background-color: #386838;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content;
}
.green-border {
  border-radius: 8px;
  border: #386838 solid 6px;
  display: inline-block;
  width: fit-content;  
}
.gray {
  background-color: #787a78;
  color: white;
}
.gray-light {
  background-color: #787a78;
  display: block;
  color: white;
  padding: 4px;
  width: fit-content; 
}
.full-response {
  top: 30%;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: solid 1px;
}
.more-button {
  display:inline-block;
  font-size: .8em;
  margin-top: -16px;
}
.generic-button {
/* originally copied from jquery-ui many subsequent edits */margin-top: 10px;/*  padding: .8em 1em; */display: inline-block;position:absolute relative;line-height: normal;margin-right: .5em;cursor: pointer;vertical-align: middle;text-align: center;font-size: 1.5em;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border-radius: 8px;padding: 10px;box-shadow: 5px 3px 5px black;color: navy;cursor: pointer;text-decoration: none;width: fit-content;background-color: buttonface;border-radius: 100%;padding: 20px;}
.next-or-previous-item-button {
  padding: 20px;
  font-size: 2em;
  width: 1.3em;
  border-radius: 100%;
  vertical-align: bottom;
}
.more-info-button {
  padding: 20px;
  font-size: 1.5em;
  border-radius: 100%;
  width: fit-content;
}
.algorithm {
  border: 0px none;
}
.choice-button {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 50pt;
  margin-left: 50pt;
  margin-bottom: 10pt;
  padding: 20pt;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  background-color: white;
  outline: 0;
}
.choice-selected {
  background-color: black;
  color: white; 
}
.center {
  text-align: center;
  margin: 0 auto;
}
.in-box {
  border: black solid;
  padding: 10pt;
  margin: 6pt;
  text-align: left;
}
.white-box {
  border: black solid;
  padding: 10pt;
  margin: 6pt;
}
.pink {
  background-color: lightpink;
}
.dark-pink {
  background-color: pink
}
.light-yellow {
  background-color: lightyellow;
}
.light-green {
  background-color: lightgreen;
}
.light-blue {
  background-color: lightblue;
}
.down-arrow {
  margin-bottom: 10pt;
  font-size: 5em;
  color: darkgray;
  margin-top: -16pt;
}
.container-for-answers {
  background-color: lightblue;
  border: black solid;
  padding: 30px;
  margin: 6px;
  border-radius: 50%;
  font-size: 1.5em;
}
.speech-recognition-feedback {
  color: gray;
  font-size: 1em;
  text-align: center;
}
.right-justify {
  text-align: right;
}
.invisible {
  opacity: 0;
}
