body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label, input, button {
  display: block;
  margin-bottom: 10px;
}

body {
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.img-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.alternative-img {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  z-index: 1; /* Add z-index to bring the alternative image to the front */
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: pre-wrap;
  max-width: 300px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.img-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}
