code.plus {
	color: green;
}
code.minus {
	color: red;
}
code.equals {
	color: darkgray;
}

div.debug {
	bottom: 0px;
    height: 120px;
    width: 100%;
    overflow: auto;
    position: fixed;
	background-color: #fff;
    opacity: 1;
	transition: opacity .15s ease-in-out;
}

div.hidden {
	opacity: 0.5;
	pointer-events: none;
}

button.debugToggle {
	float: right;
	pointer-events: all;
	padding: 4px 10px;
	opacity: 1;
	margin-top: 10px;
	margin-right: 10px;
}