 html, body {
    height: 100%;
}

body {
    min-width: 1600px;
}

#right {
    margin-left: 1020px;
    height: 100%;
    overflow-y: auto;
}

#left {
    width: fit-content;
    float: left;
}

div.container {
    width: 500px;
    overflow-x: auto;
    padding: 5px;
}

div.from {
    float: left;
}

div.to {
    margin-left: 510px;
}

div.code {
    background-color: #eee;
    padding: 5px;
}

.header {
    margin-top: 0.5em;
}

span.paired {
    border: thin solid #ccc;
    cursor: default;
    padding: 1px;
}

span.hover {
    font-weight: bold;
    background-color: #ccc;
}

span.unpaired {
    font-style: italic;
}

#values-checkbox {
    margin-top: 10px;
    margin-left: 10px;
}

span.literal {
    color: #33e;
}

span.snapshot, span.sprite, span.stage, span.script {
    color: #b3b;
}

span.var, span.varDec, span.varMenu {
    color: #e63;
}

span.customBlock {
    color: #383;
}

code.plus {
    color: green;
}

code.minus {
    color: red;
}

code.equals {
    color: inherit;
}

code {
    padding: 0;
}

tr.hidden {
    display: none;
}